*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


header, footer{
    width: 100%;
    height: auto;
    background: #DD0939;
    padding: 30px;
}

main{
    width: 100%;
    height: auto;
    background: #d26ded;
}

/*==  CONTENEDOR GRID N° 01 ==*/

.grid-01{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 80px 200px;
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;
}

.grid-01>div{
    background: #76D7C4;
}