*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


header, footer{
    width: 100%;
    height: auto;
    background: #DD0939;
    padding: 30px;
}

main{
    width: 100%;
    height: auto;
    background: #d26ded;
}

/*==  CONTENEDOR GRID N° 01 ==*/

.grid-01{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 80px 200px;
    padding: 10px;
    column-gap: 10px;
    row-gap: 10px;
}

.grid-01>div{
    background: #76D7C4;
}

/*==  CONTENEDOR GRID N° 02 ==*/

.grid-02{
    background: #A618CB;
    padding: 10px;
    display: grid;
}

.grid-02>div{
    background: #F2D3FA;
}



/*==  MEDIA QUERIES: TABLETS ==*/

@media screen and  (max-width:768px){

    .grid-01{
        grid-template-columns: auto auto;
        grid-template-rows: repeat(4, 80px);
    }
    
}

/*==  MEDIA QUERIES: SMARTPHONES ==*/

@media screen and  (max-width:414px){

    .grid-01{
        grid-template-columns: auto;
        grid-template-rows: repeat(8, 80px);
    }
    
}

